<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2 class="u-margin-bottom--ultra u-text--center tex">Sobre nós</h2>
            <div class="main-timeline">
                <div class="timeline">
                    <div class="icon"></div>
                    <div class="date-content">
                        <div class="date-outer">
                            <span class="date">
                                <span class="year">2020</span>
                            </span>
                        </div>
                    </div>
                    <div class="timeline-content">
                        <h3 class="title">Lorem ipsum</h3>
                        <p class="description">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed efficitur ex sit amet massa scelerisque scelerisque. Aliquam erat volutpat. Aenean interdum finibus efficitur. Praesent dapibus dolor felis, eu ultrices elit molestie.
                        </p>
                    </div>
                </div>
                <div class="timeline">
                    <div class="icon"></div>
                    <div class="date-content">
                        <div class="date-outer">
                            <span class="date">
                                <span class="year">2020</span>
                            </span>
                        </div>
                    </div>
                    <div class="timeline-content">
                        <h3 class="title">Lorem ipsum</h3>
                        <p class="description">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed efficitur ex sit amet massa scelerisque scelerisque. Aliquam erat volutpat. Aenean interdum finibus efficitur. Praesent dapibus dolor felis, eu ultrices elit molestie.
                        </p>
                    </div>
                </div>
                <div class="timeline">
                    <div class="icon"></div>
                    <div class="date-content">
                        <div class="date-outer">
                            <span class="date">
                                <span class="year">2020</span>
                            </span>
                        </div>
                    </div>
                    <div class="timeline-content">
                        <h3 class="title">Lorem ipsum</h3>
                        <p class="description">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed efficitur ex sit amet massa scelerisque scelerisque. Aliquam erat volutpat. Aenean interdum finibus efficitur. Praesent dapibus dolor felis, eu ultrices elit molestie.
                        </p>
                    </div>
                </div>
                <div class="timeline">
                    <div class="icon"></div>
                    <div class="date-content">
                        <div class="date-outer">
                            <span class="date">
                                <span class="year">2020</span>
                            </span>
                        </div>
                    </div>
                    <div class="timeline-content">
                        <h3 class="title">Lorem ipsum</h3>
                        <p class="description">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed efficitur ex sit amet massa scelerisque scelerisque. Aliquam erat volutpat. Aenean interdum finibus efficitur. Praesent dapibus dolor felis, eu ultrices elit molestie.
                        </p>
                    </div>
            </div>
        </div>
    </div>

    <div class="color">
        <h2 class="u-margin-bottom--ultra u-text--center tex text-center">O que usuarios estão dizendo</h2>
        <div class="row row-cols-1 row-cols-md-3 p-5 bg-#00a79c" id="row">
            <div class="col mb-4">
              <div class="card h-100">
                <img src="../../assets/mulher.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </div>
              </div>
            </div>
            <div class="col mb-4">
              <div class="card h-100">
                <img src="../../assets/mulher.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">This is a short card.</p>
                </div>
              </div>
            </div>
            <div class="col mb-4">
              <div class="card h-100">
                <img src="../../assets/mulher.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
                </div>
              </div>
            </div>
            <div class="col mb-4">
              <div class="card h-100">
                <img src="../../assets/mulher.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </div>
              </div>
            </div>
          </div>
    
     </div>
     
</div>
<!-- 
<div class="body">
    <div class="container">
        <div class="card">
            <div class="imgBx" data-text="Amor">
                <img src="heart.png" alt="">
            </div>
            <div class="content">
                <div>
                    <h3>Amor ao próximo</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
                </div>
            </div>
        </div>
        
        <div class="card">
            <div class="imgBx" data-text="União">
                <img src="agreement.png" alt="">
            </div>
            <div class="content">
                <div>
                    <h3>União</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus qui quaerat, unde assumenda labore non distinctio veniam nisi, animi et nihil laboriosam neque voluptate minima quos, maxime praesentium nobis beatae.</p>
    
                </div>
            </div>
        </div>
        
    
        <div class="card">
            <div class="imgBx" data-text="Criatividade">
                <img src="idea.png" alt="">
            </div>
            <div class="content">
                <div>
                    <h3>Criatividade</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus qui quaerat, unde assumenda labore non distinctio veniam nisi, animi et nihil laboriosam neque voluptate minima quos, maxime praesentium nobis beatae.</p>
                </div>
            </div>
        </div>
        
        <div class="card">
            <div class="imgBx" data-text="Capacitar">
                <img src="idea.png" alt="">
            </div>
            <div class="content">
                <div>
                    <h3>Capacitar</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus qui quaerat, unde assumenda labore non distinctio veniam nisi, animi et nihil laboriosam neque voluptate minima quos, maxime praesentium nobis beatae.</p>
                </div>
            </div>
        </div>
        
    </div>
    

</div> -->
