
<main class="d-flex justify-content-start">
    <div class="d-flex flex-column perfil ml-4">
        <img src="../../assets/avatar.png" alt="Imagem Pessoal" class="img-thumbnail">
        <div class="btn-group-vertical">
            <button type="button" class="btn btn-light">Perfil</button>
            <button type="button" class="btn btn-light">Doacão de Roupas</button>
            <button type="button" class="btn btn-light">Sair</button>
        </div>
    </div>

    <div class="dadosPessoais">
        <h1 class="text-center">Edição de Dados</h1>
        <form class="mt-4">
            <fieldset disabled>
                <div class="dados">
                    <div class="form-group row">
                        <label for="nomePerfil" class="col-sm-2 col-form-label" [(ngModel)] ="usuario.nome">Nome</label>
                        <div class="col-sm-10">
                            <input type="email" class="form-control" id="nomePerfil">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="emailPerfil" class="col-sm-2 col-form-label" [(ngModel)] ="usuario.email">E-mail</label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control" id="emailPerfil">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="telPerfil" class="col-sm-2 col-form-label">Telefone</label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control" id="telPerfil">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="sexPerfil" class="col-sm-2 col-form-label">Sexo</label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control" id="sexPerfil">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="dataPerfil" class="col-sm-2 col-form-label">Data de Nascimento</label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control" id="dataPerfil">
                        </div>
                    </div>
                </div>
            </fieldset>

            <div class="row">
                <div class="col-md-12">
                    <h5>Tem certeza que deseja editar esta informação?</h5>
                </div>
            </div>
    
            <div class="d-flex justify-content-end">
                <button class="btn btn-outline-info w-25" (click) ="salvar()">Salvar</button>
            </div>
        </form>
    </div>
</main>
