<main class="d-flex justify-content-start">
    <div class="d-flex flex-column perfil ml-4">
        <img src="../../assets/avatar.png" alt="Imagem Pessoal" class="img-thumbnail">
        <div class="btn-group-vertical">
            <button type="button" class="btn btn-light">Perfil</button>
            <button type="button" class="btn btn-light">Doacão de Roupas</button>
            <button type="button" class="btn btn-light">Sair</button>
        </div>
    </div>

    <div class="dadosPessoais">
        <h1 class="text-center">Dados Pessoais</h1>
        <form class="mt-4">
            <fieldset disabled>
                <div class="dados">
                    <div class="form-group row">
                        <label for="nomePerfil" class="col-sm-2 col-form-label">Nome</label>
                        <div class="col-sm-10">
                            <input type="email" class="form-control" id="nomePerfil">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="emailPerfil" class="col-sm-2 col-form-label">E-mail</label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control" id="emailPerfil">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="telPerfil" class="col-sm-2 col-form-label">Telefone</label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control" id="telPerfil">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="sexPerfil" class="col-sm-2 col-form-label">Sexo</label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control" id="sexPerfil">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="dataPerfil" class="col-sm-2 col-form-label">Data de Nascimento</label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control" id="dataPerfil">
                        </div>
                    </div>
                </div>
            </fieldset>

            <div class="form-group row buttons">
                <div class="col-sm-12 d-flex justify-content-end">
                    <button type="button" class="btn btn-primary" id="edit">Editar</button>
                    <button type="button" class="btn btn-danger" [routerLink] = "['/deleteusuario', usuario.id]">Deletar</button>
                    <button disabled type="submit" class="btn btn-primary" id="save" [routerLink] = "['/editarusuario', usuario.id]">Salvar</button>
                </div>
            </div>
        </form>
    </div>
</main>
