<body>

    <div class="gallery-section">
      <div class="inner-width">
        <h1>Doações</h1>
        <div class="border"></div>
        <div class="gallery">

          <a href="img/1.png" class="image">
            <img src="../../assets/1.png" alt="">
          </a>

          <a href="img/2.png" class="image">
            <img src="../../assets/2.png" alt="">
          </a>

          <a href="img/3.png" class="image">
            <img src="../../assets/3.png" alt="">
          </a>

          <a href="img/4.png" class="image">
            <img src="../../assets/4.png" alt="">
          </a>

          <a href="img/5.png" class="image">
            <img src="../../assets/5.png" alt="">
          </a>

          <a href="img/6.png" class="image">
            <img src="../../assets/6.png" alt="">
          </a>

          <a href="img/7.png" class="image">
            <img src="../../assets/7.png" alt="">
          </a>

          <a href="img/8.png" class="image">
            <img src="../../assets/8.png" alt="">
          </a>

        </div>
      </div>
    </div>

    <h2 class="u-margin-bottom--ultra u-text--center tex text-center">A sua doação importa</h2>

    <section class="form hide">
      <h2>Entre na lista de doadores</h2>
      <div class="form-group" action="/" method="POST">
        <input type="text" name="name" placeholder="Nome Completo" />
        <input type="text" name="email" placeholder="Email" />
        <input type="text" name="blood" placeholder="Tipo sanguíneo" />
        <button>Quero ajudar</button>
      </div>
    </section>

    <h2 class="doadores">Últimos <span>doadores</span></h2>
  </body>
