.navbar {
    font-size: 20px;
}

.menu{
    background-color: #183059;
}

.menu > li > a{
    background-color: #183059;
}

.hamburger{
    font-size: 30px;
    color: white;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: white !important;
}

.btn{
    font-size: 20px;
}