
<body>
     <div class="content">
          <h1>Conheça nosso time</h1>

          <div class="row">
               <div class="cardd col-lg-3 card1">
                    <h5>Lorem Ipsum</h5>
                    <p>Creative Designer</p> 
               </div>
               <div class="cardd col-lg-3 card2">
                    <h5>Lorem Ipsum</h5>
                    <p>Creative Designer</p>       
               </div>
               <div class="cardd col-lg-3 card3">
                    <h5>Lorem Ipsum</h5>
                    <p>Creative Designer</p>
               </div>
               <div class="cardd col-lg-3 card4">
                    <h5>Lorem Ipsum</h5>
                    <p>Creative Designer</p>        
               </div>
          </div>
          <div class="row">
               <div class="cardd col-lg-3 card5">
                    <h5>Lorem Ipsum</h5>
                    <p>Creative Designer</p>      
               </div>
               <div class="cardd col-lg-3 card6">
                    <h5>Lorem Ipsum</h5>
                    <p>Creative Designer</p>              
               </div>
               <div class="cardd col-lg-3 card7">
                    <h5>Lorem Ipsum</h5>
                    <p>Creative Designer</p>         
               </div>
               <div class="cardd col-lg-3 card8">
                    <h5>Lorem Ipsum</h5>
                    <p>Creative Designer</p>
               </div>
          </div>
     </div>
</body>





